.site-author-image {
  display: block;
  margin: 0 auto;
  max-width: $site-author-image-width;
  padding: 2px;

  if (hexo-config('avatar.rounded')) {
    border-radius: 50%;
  }
}

if (hexo-config('avatar.rotated')) {
  .site-author-image {
    transition: transform 1s ease-out;
  }

  .site-author-image:hover {
    transform: rotateZ(360deg);
  }
}

.site-author-name {
  color: #222;
  font-weight: $site-author-name-weight;
  margin: $site-author-name-margin;
  text-align: center;
}

.site-description {
  color: #666;
  font-size: 14px;
  margin-top: $site-description-margin-top;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
}
